* {
    font-family: "Poppins", sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.ant-steps-item-process .ant-steps-item-icon {
    background: #203ABD !important;
    border: none !important;
}

.tag {
    background-color: #FEE1CB;
    border-radius: 8px;
    width: 135px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #FA8026;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
